
<div class="container mx-auto mt-5" style="width: 50em">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <i class="far fa-check-circle text-success"></i>
        Success! Your job is queued.
      </h5>
      <p class="card-text">A link to your validation report will be emailed to you when it is ready.</p>
      <p class="card-text">
        If your file has any errors, an email notification will be sent to you, and
        you can restart the job where it left off.
      </p>
    </div>
  </div>
</div>
