<script>
  $(document).ready(function() {
    jQuery.ajax({
      type: "GET",
      dataType: "json",
      url: "<%=job_runs_path(format: :json)%>",
      success: function(data) {
        document.getElementById("job-history-table").innerHTML = tmpl("tmpl-job-history-table", data);
      }
    });
  });

</script>
<div class="container mt-3">
  <div class="row">
    <section class="col-7">
      <%= render "bundle_contexts/new_bc_form" %>
    </section>
    <section class="col-5">
      <ul class="nav nav-pills nav-fill">
        <%= render "job_runs/recent_history" %>
      </ul>
    </section>
  </div>
</div>
