<script type="text/x-tmpl" id="tmpl-job-history-table">
      {% for (var i=0; i<o.length; i++) { %}
      <tr>
          <td><a href="/job_runs/{%= o[i].id %}">{%= o[i].id %}</a></td>
          <td>{%= o[i].job_type %}</td>
          <td>{%= o[i].sunet_id %}</td>
          <td>{%= o[i].output_location ? "done" : "not done" %}</td>
          <td>{%= o[i].created_at.split('T')[0] %}</td>
      </tr>
      {% } %}
</script>

<h4>Recent jobs</h4>
<div class="container">
  <%= link_to '[view full history]', job_runs_path %>
</div>
<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Job Type</th>
          <th>Created by</th>
          <th>Status</th>
          <th>Created on</th>
        </th>
      </thead>
    <tbody id="job-history-table">
  </table>
</div>
