<div class="container">
  <h2>Job Run History</h2>

  <%= link_to '[view resque queues]', '/resque/overview', target: 'blank' %>
  <%= paginate @job_runs %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Creator</th>
        <th scope="col">Status</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'job_runs', job_prefix: 'Job #' %>
   </tbody>
  </table>

<%= paginate @job_runs %>
</div>
