<h1 class="h2">Job Run History</h1>
  <%= link_to '[view queues]', '/queues', target: 'blank' %>
  <%= paginate @job_runs %>

  <table class="table table-bordered">
    <thead>
      <tr class="table-secondary">
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Creator</th>
        <th scope="col">Status</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'job_runs', job_prefix: 'Job #' %>
   </tbody>
  </table>

<%= paginate @job_runs %>
