<turbo-frame id="recent-history" class="w-100">
  <h2 class="h3">Recent jobs</h2>
  <div class="container p-0">
    <table class="table d-inline-block">
        <thead>
          <tr class="text-nowrap">
            <th>Job</th>
            <th>Type</th>
            <th>Created by</th>
            <th>Status</th>
            <th>Created on</th>
          </th>
        </thead>
      <tbody id="job-history-table" class="text-nowrap">
        <%= render 'job_runs', job_prefix: '' %>
       </tbody>
    </table>
  </div>
</turbo-frame>
