<turbo-frame id="recent-history">
  <h4>Recent jobs</h4>
  <div class="container">
    <table class="table">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Job Type</th>
            <th>Created by</th>
            <th>Status</th>
            <th>Created on</th>
          </th>
        </thead>
      <tbody id="job-history-table">
        <%= render 'job_runs', job_prefix: '' %>
       </tbody>
    </table>
  </div>
</turbo-frame>
