.byebug_history
config/honeybadger.yml
memory_report.txt
*.log
*.gem
.rvmrc
.DS_Store
.bundle
.yardoc
config/certs/*
config/cli_environments/development.rb
config/cli_environments/stage.rb
config/cli_environments/local.rb
spec/test_data/logging/*
doc/*
log/*
pkg/*
tags
tmp
/workflow_service.log*
coverage

# Ignore master key for decrypting credentials and more.
/config/master.key
