.byebug_history
config/honeybadger.yml
memory_report.txt
*.log
.rvmrc
*.gem
.rvmrc
.DS_Store
.bundle
config/certs/*
config/environments/*.rb
spec/test_data/logging/*
doc/*
log/*
pkg/*
tags
tmp
/workflow_service.log*
coverage

# Ignore master key for decrypting credentials and more.
/config/master.key
