.byebug_history
.pry_history
memory_report.txt
*.log
*.gem
.rvmrc
.DS_Store
.bundle
.yardoc
.rails_rc

config/certs/*
config/honeybadger.yml
db/*.sqlite3
spec/test_data/logging/*
spec/examples.txt
doc/*
log/*
pkg/*
tags
tmp
/workflow_service.log*
coverage
spec/lib/test_data/logging/progress_log_file.yml

# Ignore master key for decrypting credentials and more.
/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
