language: ruby

sudo: false
notifications:
  email: false

addons:
  apt:
    packages:
      - libimage-exiftool-perl

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

cache: bundler

rvm:
  - 2.4.4

services:
  - redis-server
