 <table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Created by</td>
            <td><%= batch_context.user.sunet_id %></td>
        </tr>
        <tr>
            <td>Created at</td>
            <td><%= batch_context.created_at %></td>
        </tr>
    </tbody>
</table>
