    <div class="row mt-4">
      <h5>Jobs summary</h5>
      <table class="table">
        <thead>
          <tr>
            <th>JobRun ID</th>
            <th>Type</th>
            <th>Created</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <% job_runs.each do |job_run|%>
            <tr>
              <td><%= link_to(job_run.id, job_run) %></td>
              <td><%= job_run.job_type.humanize %></td>
              <td><%= job_run.created_at %></td>
              <td><%= job_run.state.humanize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
