<div class="mt-3">
  <div class="row">
    <section class="col-md-7">
      <%= render "batch_contexts/new_bc_form" %>
    </section>
    <section class="col-md-5">
      <div class="nav nav-pills nav-fill">
        <turbo-frame id="recent-history" src="/job_runs" class="w-100"></turbo-frame>
      </div>
    </section>
  </div>
</div>
