<nav class="navbar">
     <a class="navbar-brand" href="#"><%= image_tag('sul-logo', height: '30') %></a>
</nav>
<div style="background-color: #8c1515; color: white; font-family: serif">
  <h1 class="p-4">Accessioning</h1>
  <%= image_tag("bookheader", width: "100%", height: "75") %>
</div>
