<%= render "test/header" %>
<div class="container">
  <div class="row">
    <section class="col-7">
      <%= render "test/form" %>
    </section>
    <section class="col-5">

    </section>
  </div>
</div>
