<div class="mt-3">
  <div class="row">
    <section class="col-md-7">
      <%= render "projects/new_bc_form" %>
    </section>
    <section class="col-md-5">
      <ul class="nav nav-pills nav-fill">
        <turbo-frame id="recent-history" src="/job_runs"></turbo-frame>
      </ul>
    </section>
  </div>
</div>
