<% if page.current? %>
  <li class="page-item active">
    <%= content_tag :a, page, data: { remote: }, rel: (if page.next?
                                                         'next'
                                                       else
                                                         (page.prev? ? 'prev' : nil)
                                                       end), class: 'page-link' %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote:, rel: (if page.next?
                                            'next'
                                          else
                                            (page.prev? ? 'prev' : nil)
                                          end), class: 'page-link' %>
  </li>
<% end %>
